<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Create User
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form   #f="ngForm" novalidate="" class="needs-validation" [ngClass]="{'was-validated': (email.errors?.required || name.errors?.minlength) && email.touched}">
      <ion-col size="12" class="top-5">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input name="email"
                         type="email"
                         [(ngModel)]="user.email"
                         pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                         #email="ngModel"
                         required></ion-input>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="email.touched" class="label-invalid">
            <div *ngIf="email.errors?.required && email.touched" class="invalid-feedback">
              *Email is required
            </div>
            <div *ngIf="email.errors?.pattern && email.touched" class="invalid-feedback">
              *Email invalid
            </div>
          </ion-list>
      </ion-col>

      <ion-col size="12" class="top-5">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input name="name"
                         type="text"
                         [(ngModel)]="user.name"
                         required
                         minlength="5"
                         #name="ngModel"></ion-input>
            </ion-item>
          </ion-list>

          <ion-list *ngIf="name.touched" class="label-invalid">
            <div *ngIf="name.errors?.required && name.touched" class="invalid-feedback">
              *name is required
            </div>
            <div *ngIf="name.errors?.minlength && name.touched" class="invalid-feedback">
              *Min {{name.errors.minlength.requiredLength}} characteres.
            </div>
          </ion-list>
      </ion-col>

      <ion-col size="12" class="top-5">
          <ion-list>
            <ion-item>
              <ion-label position="floating">Lastname</ion-label>
              <ion-input name="lastname"
                         type="text"
                         [(ngModel)]="user.lastname"
                         required
                         minlength="5"
                         #lastname="ngModel"></ion-input>
            </ion-item>
          </ion-list>

          <ion-list *ngIf="lastname.touched" class="label-invalid">
            <div *ngIf="lastname.errors?.required && lastname.touched" class="invalid-feedback">
              *lastname is required
            </div>
            <div *ngIf="lastname.errors?.minlength && lastname.touched" class="invalid-feedback">
              *Min {{lastname.errors.minlength.requiredLength}} characteres.
            </div>
          </ion-list>
      </ion-col>


      <ion-col size="12"class="top-5">
        <ion-button expand="block" (click)="addUser(f)" [disabled]="!f.valid">Save User</ion-button>
        <ion-button expand="block" (click)="closed()" color="danger" class="ion-margin-top">Cancel</ion-button>
      </ion-col>
  </form>
  </div>
</ion-content>
