.primary.segment-button-checked{
  color: #3880ff!important;
}
.warning.segment-button-checked{
  color:#ffce00!important;
}
.success.segment-button-checked,{
  color:#0ec254!important;
}
.tertiary.segment-button-checked{
  color:#633ce0!important;
}
.medium.segment-button-checked{
  color:#989aa2!important;
}


.primary.segment-button-checked .segment-button-indicator{
  background-color:  #3880ff!important;
}
body .warning.segment-button-checked .segment-button-indicator,
 {
  background-color:  #ffce00!important;
}
.success.segment-button-checked .segment-button-indicator{
  background-color:  #0ec254!important;
}
.tertiary.segment-button-checked .segment-button-indicator{
  background-color:  #633ce0!important;
}
.medium.segment-button-checked .segment-button-indicator{
  background-color:  #989aa2!important;
}
