<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button color="dark" (click)="closeModal()">
              <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
      </ion-buttons>
     <ion-title>Edit Task</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <form   #f="ngForm">
      <ion-item>
        <ion-textarea placeholder="Title task"
                      name="title_task"
                      #title_task="ngModel"
                      [(ngModel)]="title"
                      minlength="4"
                      required></ion-textarea>
      </ion-item>
      <ion-item *ngIf="title_task.touched && !f.valid" class="label-invalid">
        <div *ngIf="title_task.errors?.required && title_task.touched" class="invalid-feedback">
          *Title is required
        </div>
        <div *ngIf="title_task.errors?.minlength && title_task.touched" class="invalid-feedback">
          *Min {{ title_task.errors.minlength.requiredLength }} characters
        </div>
      </ion-item>

      <ion-item>
        <ion-textarea placeholder="Description task"
                      name="description_task"
                      #description_task="ngModel"
                      [(ngModel)]="description" ></ion-textarea>
      </ion-item>

      <ion-list>
        <ion-list-header>
          Assign information
        </ion-list-header>
        <ion-item (click)="ModalSelectUser()">
          <ion-icon name="person"></ion-icon>
          <ion-label class="ion-margin-start">{{ name }}</ion-label>
          <ion-input name="user_email"
                     #user_email="ngModel"
                     [(ngModel)]="email"
                     type="email" class="ion-hide"></ion-input>
        </ion-item>
        <ion-item (click)="ModalSelectState()">
          <ion-icon name="cog"></ion-icon>
          <div [innerHTML]=" idState | status" class="ion-margin-start"></div>
          <!--ion-label class="ion-margin-start">Open</ion-label-->
          <ion-input name="status"
                    [(ngModel)]="idState"
                     type="number" class="ion-hide"></ion-input>
        </ion-item>

      </ion-list>
      <ion-row>
        <ion-col size="6">
          <ion-button expand="block" (click)="closeModal()" color="danger" class="ion-margin-top">Cancel</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button expand="block" (click)="editTask(f)" [disabled]="!f.valid" class="ion-margin-top" color="success">Save</ion-button>
        </ion-col>
      </ion-row>

    </form>
  </div>
</ion-content>
